<template>
    <div>
        <h1>Extends</h1>
        <h2>Base컴포넌트를 extends로 상속할경우 라이프 사이클을 탈까?</h2>
        <ul>
            <li><h3>결과: 콘솔확인</h3></li>
            <li>
                <h3>해설:</h3>
                <ul>
                    <li>extends: [Base] 배열로 선언할 경우 Base의 라이프 사이클은 타지 않는다.</li>
                    <li>extends: Base 로 선언할 경우 Base의 라이프 사이클을 탄다.</li>
                </ul>
                <h4>vue version: 2.9.6</h4>
            </li>
        </ul>
    </div>
</template>

<script>
import Base from './Base';

export default {
    name: 'Extends',
    extends: Base,
    created() {
        console.info('extends: Base로 선언');
        console.log('Extends created ');
        console.log('-------------------------------');
    }
};
</script>
