<template>
    <div>
        <h1>Mixins</h1>
        <h2>Base컴포넌트를 mixins로 상속할경우 라이프 사이클을 탈까?</h2>
        <ul>
            <li><h3>결과: 콘솔확인</h3></li>
            <li>
                <h3>해설:</h3>
                <ul>
                    <li>mixins: [Base] 배열로 선언할 경우 Base의 라이프 사이클은 탄다.</li>
                    <li>mixins: Base 로 선언할 경우 Base의 라이프 사이클을 타지 않는다.</li>
                </ul>
                <h4>vue version: 2.9.6</h4>
            </li>
        </ul>
    </div>
</template>

<script>
import Base from './Base';

export default {
    name: 'Mixins',
    mixins: [Base],
    created() {
        console.info('mixins: [Base]로 선언');
        console.log('Mixins created');
        console.log('-------------------------------');
    }
};
</script>
