<template>
    <div id="app">
        <h1><router-link :to="{name:'main'}">Vuetest</router-link></h1>
        <menu>
            <li><router-link :to="{name:'extends'}">Extends</router-link></li>
            <li><router-link :to="{name:'mixins'}">Mixins</router-link></li>
        </menu>
        <router-view/>
    </div>
</template>

<script>
export default {
    name: 'App'
};
</script>
